
body{
    margin: 0;
    padding: 0;
}

/* Main Layout */
.container{
    height: 100vh;
    width : 100%;
    display: grid;
    grid-template-rows: 60px 100px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
}

.item{
    background-color: #f1f3f6;
}

.item1{
    background-color: #2874f0;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2{
    grid-column-start: 1;
    grid-column-end: 4;
}


.item3{
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Navbar */
.nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 450px 90px 500px 300px 100px 100px;
    align-items: center;
}

/* CSS For Explore Plus Text */
.explore_text{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.plus_text{
    color: yellow;
}

/* Search Box */
label {
    position: relative;
}
  
label:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}
  
input {
    padding: 10px 20px;
    width : 100%;
    border : none;
    border-radius: 4px;
}


/* Login Button */
.login_btn{
    float: right;
    padding: 8px 40px;
    color: #2874f0;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border : none
}

/* More */
.more{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

/* Product Explore Div */
.item2{
    background-color: white;
}

.explore_tab{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    
}

.explore-item{
    text-align: center;
}

.item_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold
}


/* Product Components */
.container-main{
    margin : 20px 120px 20px 120px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

/* Products Component Title Text */
.itemComTitle{
    width: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Clock Icon */
.clock_icon{
    padding-left: 20px;
}

/* Text Beside Clock Icon */
.icon_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    align-items: center;
    padding-left: 10px;
    font-weight: 100;
    color: grey;

}

/* View All Button */
.view_all{
    float: right;
    background-color: #2874f0;
    color: white;
    border: none;
    padding: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.itemComItems{
    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.product_image{
    padding : 10px;
    width: 70%;
}

.prod_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.prod_name{
    padding-top : 10px;
    font-weight: bold;
}

.prod_price{
    padding-top : 10px;
    color: green;
}

.prod_brand{
    padding-top : 10px;
    color: grey;
}

.itemComItems .items{
    padding-top: 20px;
    padding-bottom: 20px;
}